#login-form {
    width: 600px;
}

.no-bullying-reply {
    background-color: #157347;
    color: white;
}

.bullying-reply {
    background-color: #BB2D3B;
    color: white;
}

#loader-span {
    display: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#loader-span {
    font-weight: bold;
}