bert-score==0.3.9
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
Flask==1.1.2
Flask-Cors==3.0.10
gensim==4.0.0
h5py==2.10.0
huggingface-hub==0.0.10
joblib==0.16.0
jupyter==1.0.0
Keras==2.4.3
Keras-Preprocessing==1.1.2
matplotlib==3.3.2
notebook==6.1.4
numpy==1.19.2
pandas==1.1.2
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.0
spacy==2.3.2
tensorboard==2.4.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
tensorflow-gpu==2.4.1
tokenizers==0.10.2
torch==1.8.1
tornado==6.0.4
tqdm==4.49.0
transformers==4.5.1
tweepy==3.10.0
tweet-preprocessor==0.6.0

